@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Kaushan+Script&family=Noto+Serif:wght@400;700&display=swap');
@import url(//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);

body {
  margin: 0;
  font-family:'Circular Std Medium', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.intro-div{
  background-color:#ECEDF2;
  height: 100vh;
  display:flex;
  justify-content:center;align-items:center;
}

a{
  cursor: pointer;
}



h1{
  font-family: 'Domine', serif;
  font-size:48px;
  font-weight:700;
  margin:0;
  

}

@media screen and (max-width: 768px) {
  h1{
    font-size:40px;

  }
}

@media screen and (max-width: 500px) {
  h1{
    font-size:30px;
  }
}

@media screen and (max-width: 400px) {
  h1{
    font-size:28px;
  }
}
.container{
  max-width: 1200px;
  width:90%; 
  margin: 0 auto;
}

